<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>分类</title>
  <script src="../js/rem.js"></script>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/classification.css">
</head>

<body>
  <div class="main">
    <ul class="tab">
      <li class="selected">影音视频</li>
      <li>音乐</li>
      <li>电子书</li>
      <li>电商礼品卡</li>
      <li>购物卡</li>
      <li>电影票卷</li>
      <li>出行卡卷</li>
      <li>阅读</li>
      <li>音频FM</li>
    </ul>
    <div class="content selected">
      <ul>
        <li data-type='aqiyi'>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>爱奇艺视频</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>腾讯视频</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>优酷视频</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>芒果TV</p>
        </li>
        <li>
          <img src="../images/fl_souhu_img@2x.png" alt="">
          <p>搜狐视频</p>
        </li>
        <li>
          <img src="../images/fl_pptv_img@2x.png" alt="">
          <p>PPTV</p>
        </li>
        <li>
          <img src="../images/fl_tenxuntiyu_img@2x.png" alt="">
          <p>腾讯体育会员</p>
        </li>
        <li data-type="vip">
          <img src="../images/order_hjvip_img@2x.png" alt="">
          <p>黑胶VIP账号</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>音乐</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>音乐</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>音乐</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>音乐</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li data-type='dzs'>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>电子书</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>电子书</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>电子书</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>电子书</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>电商礼品卡</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>电商礼品卡</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>电商礼品卡</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>电商礼品卡</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>购物卡</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>购物卡</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>购物卡</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>购物卡</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>电影票卷</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>电影票卷</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>电影票卷</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>电影票卷</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>出行卡卷</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>出行卡卷</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>出行卡卷</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>出行卡卷</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>阅读</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>阅读</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>阅读</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>阅读</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <img src="../images/fl_aiqiyi_img@2x.png" alt="">
          <p>音频FM</p>
        </li>
        <li>
          <img src="../images/fl_tengxuni_img@2x.png" alt="">
          <p>音频FM</p>
        </li>
        <li>
          <img src="../images/fl_youku_img@2x.png" alt="">
          <p>音频FM</p>
        </li>
        <li>
          <img src="../images/fl_mangguo_img@2x.png" alt="">
          <p>音频FM</p>
        </li>
      </ul>
    </div>
    <div class="btn"></div>
  </div>
</body>
<script src="../js/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $(".tab li").click(function () {
      $(".tab li").eq($(this).index()).addClass("selected").siblings().removeClass('selected')
      $(".content").eq($(".tab li").index(this)).addClass("selected").siblings().removeClass('selected')
    })
  })

  $('.main .btn').on('click', function () {
    window.location.href = 'orderList.html'
  })

  $('.content li').each(function (item, index) {
    $(this).on('click', function () {
      var type = $(this).attr('data-type')
      if (type === 'vip') {
        window.location.href = 'rechargeVip.html'
      } else {
        window.location.href = 'recharge.html'
      }
    })
  })
</script>

</html>